---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import BentoFeatures from '../components/BentoFeatures.astro';
import ChatSection from '../components/ChatSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Aura OS - Your AI Commander for Web3">
  <Navbar />
  
  <main>
    <HeroSection />
    <BentoFeatures />
    <ChatSection />
  </main>
  
  <Footer />
</Layout>